::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: #c41e1e;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #cecece;
} */
html {
  scrollbar-color: #cecece #181818;
  scrollbar-width: thin;
}
